<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <style>
      .package-image {
          height: 100%;
          width: 100%;
          object-fit:cover;
      }
    </style>

    <title><%= package.name %></title>
  </head>
  <body onload="update_people();">
    <main>
      <div class="container mx-auto py-3">
        <div class="p-3 mx-auto mb-3 text-center">
          <h1 class="display-3 fw-normal"><%= package.name %></h1>
        </div>
        <div class="row row-cols-2 mb-3">
          <div class="col" style="width: 45%;">
            <img class="package-image"
                 src="/media/package-<%= package.id %>.jpg"/>
          </div>
          <div class="col ms-md-3">
            <h2 class="text-muted">Booking Details</h2>
            <form>
              <div id="booking-details" class="container pt-1 pb-2 ps-1">
                <div class="row">
                  <div class="col">
                    <label for="group-size" class="form-label">Group Size:</label>
                    <input  type="number"
                            id="group-size"
                            class="form-control"
                            value="1" min="1" max="10"
                            name="bookingSize" 
                            required>
                  </div>
                </div>
                <div class="col">
                  <label for="trip-type" class="form-label">Trip Type:</label>
                  <select class="form-select">
                    <% for (let i = 0; i < trip_types.length; i++) { %>
                      <option value="<%- trip_types[i].id %>">
                        <%- trip_types[i].name %>
                      </option>
                    <% } %>
                  </select required>
                </div>
              </div>
            </form>
            <h2 class="text-muted pt-3">Client Details</h2>
            <form>
              <div class="container pt-1 pb-2 ps-1">
                <div class="row">
                  <div class="col">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" id="email" class="form-control" placeholder="name@example.com" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" name="CustEmail" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="password" class="form-label">Password: </label>
                    <input type="password" class="form-control" placeholder="Password" name="password" id="password-input"/>
                    <div class="valid-feedback">Good</div>
                    <div class="invalid-feedback">Wrong</div>
                  </div>
                </div>"
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script>
      function update_people()
      {
          let groupSize = parseInt(document.getElementById("group-size").value);
          let groupInputs = document.getElementsByClassName("group-person");

          while (groupSize > groupInputs.length)
          {
            insertGroupMemberElement();
          }

          while (groupSize < groupInputs.length)
          {
            groupInputs[groupInputs.length - 1].remove();
          }
      }

      function insertGroupMemberElement()
      {
          let parent = document.getElementById("booking-details");
          let template = document.getElementById("booking-member");
          let element = template.content.firstElementChild.cloneNode(true);
          //element.innerHTML += n;

          parent.appendChild(element);
      }
    </script>
  </body>
</html>
