<!DOCTYPE html>
<html lang="en">
  <!-- data-bs-theme="auto" -->
  <!-- Team #3 -- OOSD Threaded Project Part 1
       packages.ejs
       
       This file contains the /packages page, which displays the available
       packages in the travelexperts database
       
       Authors: Grayson Germsheid 

       This was implemented in EJS, using bootstrap for styling -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles (mainly colour) -->
    <style>
      .package-image {
        margin: 1em 0;
        border-radius:5px;
        width: 100%;
        aspect-ratio: 1.74;
        object-fit:cover;
      }

      /* Some bootstrap overrides, the !important is required in most cases
         since bootstrap likes to use it in their classes. */
      html, body {
        background-color: #FFFAE3 !important;
        color: #241623 !important;
      }

      .card {
        height: 100%;
      }
      .card-header, .card-footer {
        background-color: #003F91 !important;
        color: #FAFAFA !important;
      }
      .card-body {
        background-color: #FAFAFA !important;
      }

      header, footer {
        background-color: #003F91 !important;
        color: #FAFAFA !important;
      }

      .btn-primary {
        border-color: #003F91 !important;
        background-color: #003F91 !important;
        color: #B9DBF8 !important;
      }

      .btn-primary:hover {
        border-color: #B9DBF8 !important;
        background-color: #B9DBF8 !important;
        color: #241623 !important;
      }

      .text-body-secondary {
        color: #3E303E !important;
      }

      header, footer > .text-body-secondary {
        color: #FAFAFA !important;
      }

      .nav-link {
        color: #FAFAFA !important;
      }

      .card-subtitle {
        color: #B9DBF8 !important;
      }

    </style>
    <title>Packages</title>
  </head>
  <body style="box-sizing: border-box; max-width: 100%;">
    <!-- Include a common page header for consistency across pages -->
    <%- include('navbar') %>
    <main>
      <div class="container mx-auto py-3">
        <div class="p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Packages</h1>
          <p class="fs-5 text-body-secondary">
          Explore the packages we are currently offering<br/>
          or contact one of our <a href="/contacts">agents</a> 
          to arrange your own
          </p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <!-- This loops through the packages array as generated from the 
               database, creating a display card for each package -->
          <% for (let i = 0; i < packages.length; i++) { %>
            <div class="col mb-4">
              <div class="card rounded-3 shadow-sm mh-100">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">
                    <%= packages[i].name %>
                  </h4> 
                  <h6 class="card-subtitle my-1 mb-2 text-muted">
                    <%= packages[i].sdate %> &ndash; <%= packages[i].edate %>
                  </h6>
                </div>
                <div class="card-body">
                  <p class="text-body-secondary mb-0">
                    <%= packages[i].desc %>
                  </p>
                  <!-- Images are assigned to packages based on their unique ID -->
                  <img class="package-image" 
                       src="/media/package-<%= packages[i].id %>.jpg"/>
                  <h1 class="card-title pricing-card-title">
                    &dollar;<%= packages[i].price %>
                  </h1>
                  <button type="button" class="w-100 btn btn-lg btn-primary">
                    More Info
                  </button>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </main>
    <!-- Include a common page footer for consistency across pages -->
    <%- include('pfooter') %>
  </body>
</html>
