<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <meta name="theme-color" content="#712cf9">

    <style>
      .package-image {
        margin: 1em 0;
        border-radius:5px;
        width: 100%;
        aspect-ratio: 1.74;
        object-fit:cover;
      }

      html, body {
        background-color: #FFFAE3;
        color: #241623;
      }

      .card-header, .card-footer {
        background-color: #157F1F;
        color: #FFFAE3;
      }
      .card-body {
        background-color: #FFFAE3;
      }

      header, footer {
        background-color: #2364AA;
        color: #FFFAE3;
      }

      .btn-primary {
        border-color: #157F1F;
        background-color: #157F1F;
        color: #FFFAE3;
      }

      .btn-primary:hover {
        border-color: #4CB963;
        background-color: #4CB963;
        color: #FFFAE3;
      }
    </style>
  </head>
  <body style="box-sizing: border-box; max-width: 100%;">
    <%- include('navbar') %>
    <div class="container py-3">
      <main>
        <div class="p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Packages</h1>
          <p class="fs-5 text-body-secondary">Explore the packages we are currently offering</p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center card-deck">
          <% for (let i = 0; i < packages.length; i++) { %>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">
                    <%= packages[i].name %>
                  </h4> 
                  <h6 class="card-subtitle my-1 mb-2 text-muted">
                    <%= packages[i].sdate %> &ndash; <%= packages[i].edate %>
                  </h6>
                </div>
                <div class="card-body">
                  <p class="text-body-secondary mb-0">
                    <%= packages[i].desc %>
                  </p>
                  <img class="package-image" src="/media/package-<%= packages[i].id %>.jpg"/>
                  <h1 class="card-title pricing-card-title">
                    &dollar;<%= packages[i].price %>
                  </h1>
                  <button type="button" class="w-100 btn btn-lg btn-primary">More Info</button>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </main>
    </div>
    <%- include('pfooter') %>
  </body>
</html>
